.Flipper__container {
  perspective: 1000px;
}

.Flipper__container--hover .Flipper {
  transform: rotateY(180deg);
}

.Flipper {
  height: 100%;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.Flipper__front,
.Flipper__back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.Flipper__front {
  z-index: 2;
  transform: rotateY(0deg);
}

.Flipper__back {
  transform: rotateY(180deg);
}
