.Icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Icon__content {
  padding: 1rem;
}

.Icon__content img {
  width: 100%;
  height: auto;
  display: block;
}

.Icon__content {
  transform: scale(1) translateY(0);
  transition: transform 125ms ease;
}

.Icon:hover .Icon__content {
  transform: scale(1.1) translateY(-10px);
}

